<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>routeinfo</title>
    <link rel="stylesheet" href="https://unpkg.com/element-ui@2.14.1/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="CSS/layout.css">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.staticfile.org/vue/2.2.2/vue.min.js"></script>
</head>

<style>
    .picture1
    {
        margin-left: 80px;
        margin-top: 15px;
    }

    .alink
    {
        color: white;
        text-decoration: none;
    }

    #person
    {
        float: left;
        display: block;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        height: 48px;
    }

    #login
    {
        float: left;
        display: block;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        height: 48px;
        text-decoration: none;
    }

    #person :hover{
        background-color: #ddd;
        color: black;
    }

    #login :hover{
        background-color: #ddd;
        color: black;
    }

</style>


<body>
<div class="header">
    <h1>TXX小队路书</h1>
</div>

<div class="topnav">
    <a href="begin.html" id="login">返回主页</a>
    <!--<a href="#" id="person">个人中心</a>-->
</div>

<div class="row">
    <div class="column1">
        <div id="app">
            <el-row class="tac">
                <el-col>
                    <el-menu
                            default-active="0"
                            class="el-menu-vertical-demo"
                            @open="handleOpen"
                            @close="handleClose"
                            background-color="#545c64"
                            text-color="#fff"
                            active-text-color="#ffd04b">
                        <el-menu-item index="0">
                            <i class="el-icon-menu"></i>
                            <a href="begin.html" class="alink">主页</a>
                        </el-menu-item>
                        <el-menu-item index="1">
                            <i class="el-icon-menu"></i>
                            <a href="lushu.html" class="alink">路书</a>
                        </el-menu-item>
                        <el-menu-item index="2">
                            <i class="el-icon-menu"></i>
                            <a href="huodong.html" class="alink">活动</a>
                        </el-menu-item>
                        <el-menu-item index="3">
                            <i class="el-icon-menu"></i>
                            <a href="navigation.html" class="alink">导航</a>
                        </el-menu-item>
                        <el-menu-item index="4">
                            <i class="el-icon-setting"></i>
                            <a href="about_us.html" class="alink">联系我们</a>
                        </el-menu-item>
                    </el-menu>
                </el-col>
            </el-row>
        </div>
    </div>

    <div class="column2">
        <div class="row_in_col2" style="height: 520px;border: 1px white;">
            <img src="./pic/3.jpg" height="500px" width="1000px" class="picture1">
        </div>

        <div class="topnbv">
            <a href="">路书信息</a>
            <a href="alter_personinfo.html">修改信息</a>
            <a href="createact.html">添加活动</a>
        </div>

        <div id="route_info" style="color: white">
            {{info}}
        </div>

        <div cl>
            <div class="row_in_col2">
                <footer style="margin-left: 10px">
                    <p>Posted by: TX MZQ ZYX</p>
                    <p>Contact information: 1873787521@qq.com</p>
                </footer>
            </div>
        </div>
    </div>
</div>
</body>
<!-- import Vue before Element -->
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<!-- import JavaScript -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>

<script>
    var user;
    var route;
    window.onload = function () {
        user = localStorage.getItem("user_id");
        route = localStorage.getItem("route_id");
        query_route();
    };

    var routeinfo = new Vue(
        {
            el: '#person_info',
            data: {
                info: {}
            },
            methods: {
            }
        }
    );

    function query_route() {
        axios({
            method: 'post',
            url: 'http://localhost:8080/queryRouteInformation',
            data: {route_id: route}
        }).then(function (res) {
            console.log(res);
            routeinfo.info = res.data;
            console.log(routeinfo.info);
            console.log("Query successful!");
        }).catch(function (res) {
            alert("Query failed!");
        });
    }

    new Vue().$mount('#app')
</script>
</html>